DATABASE_URL="file:./dev.db"
PORT=3000
JWT_SECRET="seu_segredo_jwt_aqui"

# Configurações de E-mail (SMTP)
EMAIL_HOST="smtp.ethereal.email"
EMAIL_PORT=587
EMAIL_SECURE=false
EMAIL_USER="seu_usuario_smtp"
EMAIL_PASS="sua_senha_smtp"
